@use '../../styles/commons';

.bgWave {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: commons.$layer-5;
  background-color: transparent;
  overflow: hidden;
  transition: opacity 0.6s;
}

.bgWave div {
  --r: 3000px;
  background-color: #f0f0f0;
  position: absolute;
  width: var(--r);
  height: var(--r);
  bottom: calc(-25px - var(--r));
  left: 50%;
  margin-left: calc(0px - (var(--r) / 2));
  margin-top: 0;
  border-radius: 43%;
}

.bgWave div:nth-child(1) {
  opacity: 0.6;
  animation: rotate 9s infinite linear;
}

.bgWave div:nth-child(2) {
  opacity: 0.4;
  animation: rotate 12s infinite linear;
}

.bgWave div:nth-child(3) {
  opacity: 0.4;
  animation: rotate 15s infinite linear;
}

.bgWave div:nth-child(4) {
  opacity: 0.2;
  animation: rotate 18s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}