.navBlock {
  display: block;
  padding: 5px;
  margin: 0 5px;
  text-align: center;
  color: #2c3e50;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #fff;
  transition: border-color 0.3s;
}

.navTitle {
  font-size: 16px;
  transition: color 0.3s;
}

.navSubtitle {
  font-size: 12px;
  color: #bdc3c7;
  border-top: 1px solid #2c3e50;
  transition: border-color 0.3s;
}

.navBlock:hover {
  border-color: #e67e22;
}

.navBlock:hover .navTitle {
  color: #e67e22;
}

.navBlock:hover .navSubtitle {
  border-color: #e67e22;
}