.navBlock {
  display: block;
  padding: 5px;
  margin: 0 5px;
  width: 68px;
  text-align: center;
  color: #2c3e50;
  cursor: pointer;
  border-radius: 8px 2px 8px 2px;
  border: 1px solid #eee;
  user-select: none;
}

.navTitle {
  font-size: 14px;
  line-height: 20px;
  transition: color 0.2s;
}

.navSubtitle {
  font-size: 10px;
  line-height: 20px;
  color: #bdc3c7;
  border-top: 1px solid #2c3e50;
  transition: border-color 0.2s;
}

.navBlock:hover .navTitle {
  color: #f39c12;
}

.navBlock:hover .navSubtitle {
  border-color: #f39c12;
}

.selectedBlockBorder {
  border-color: #e67e22;
}
.navBlock:hover.selectedBlockBorder {
  border-color: #f39c12;
}

.selectedBlockText {
  color: #e67e22;
}