@import '../../styles/colors';

.list {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  list-style: none;
  border-top: 1px solid $fade-border-color;
  &>li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.link {
  margin: 0 0 0 8px;
  line-height: 1.2;
  font-weight: 300;
  border-bottom: 1px solid $bg-color;
  transition: all 0.2s;
  &:hover {
    color: $head-text-hover-color;
    border-color: $head-text-hover-color;
  }
}

.aside {
  display: flex;
  margin: 40px 0 0 40px;
  width: 300px;
  flex: 0 0 auto {
    direction: column;
  }
}

@mixin panel-common {
  padding: 0;
  margin: 0;
  word-break: break-word;
}

@mixin panel-header {
  font: {
    weight: normal;
    size: 14px;
  }
  color: $fade-text-color;
  line-height: 1;
  margin: 0 0 5px;
  padding: 0 0 0 5px;
  border-left: 4px solid $fade-text-color;
  transition: color 0.2s;
}

@mixin motto-shadow {
  content: "";
  position: absolute;
  right: 8px;
  bottom: 20px;
  width: 90%;
  height: 20%;
  z-index: -1;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s;
}

.asidePanel {
  margin: 20px 0 0;
  padding: 15px 20px;
  font-size: 14px;
  color: $head-text-color;
  transition: border-color 0.2s;
  border: 1px solid $fade-border-color {
      radius: 16px;
    }
  &:hover {
    border-color: $fade-border-hover-color;
    h2 {
      color: $fade-text-hover-color;
    }
  }
  &>h2 {
    @include panel-common;
    @include panel-header;
  }
}

.motto {
  position: relative;
  padding: 15px 20px;
  border: 1px solid $fade-border-color {
    radius: 16px;
  }
  background: $bg-color url('/assets/sakura.png') no-repeat 150px -15px/200px 200px;
  font-size: 14px;
  color: $head-text-color;
  &::after {
    @include motto-shadow;
    transform: rotate(3deg);
  }
  &::before {
    @include motto-shadow;
    transform: rotate(-2deg);
  }
  &:hover {
    &::after {
      opacity: 1;
    }
    &::before {
      opacity: 1;
    }
    h2 {
      color: $fade-text-hover-color;
    }
  }
  &>p {
    height: 3em;
    font-weight: 300;
    @include panel-common
  }
  &>h2 {
    @include panel-common;
    @include panel-header;
  }
}

.anim {
  animation: panel-in 0.5s;
}

.backtopBox {
  position: fixed;
  z-index: 99999;
  bottom: 40px;
  right: 40px;
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid $normal-border-color {
    radius: 50%;
  }
  background: $bg-color url("/assets/arrow-up.svg") center / 35 35 no-repeat;
  cursor: pointer;
  transition: background-color .3s;
  animation: tooltips-in .5s;
  &:hover {
    background-color: $bg-hover-color;
  }
}

@keyframes tooltips-in {
  0% {
    opacity: 0;
    transform: rotateZ(90deg);
  }

  10% {
    opacity: 0;
    transform: rotateZ(90deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes panel-in {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  10% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate-icon {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}
