$bg-color: #fff;
$bg-hover-color: #f0f0f0;
$fg-color: #e67e22;
$fg-hover-color: #f39c12;
$normal-border-color: #ddd;
$fade-border-color: #f0f0f0;
$fade-border-hover-color: #e0e0e0;
$select-color: #fff;
$select-bg-color: #ff8820dd;
$normal-text-color: #2c3e50;
$fade-text-color: #bdc3c7;
$fade-text-hover-color: #9fa4a8;
$head-text-color: #34495e;
$head-text-hover-color: #7f8c8d;
$code-bg-color: #eceff4;
$quote-text-color: #959ba7;