$common-font: -apple-system, SF UI Display, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
$width-frame: 1024px;
$width-main: 684px;
$width-max-aside: 1060px;
$width-just-min: 730px;
$width-fix-min: 613px;