html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
  background-image: url('../assets/windbell.png'), url('../assets/maple.png'), url('../assets/cat.png');
  background-size: 120px, 120px, 120px;
  background-position: top right, bottom left, bottom 8px right 10px;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active, a:hover, a:focus {
    outline: 0;
}

* {
  box-sizing: border-box;
}
