@use './colors';
@use './commons';

@mixin flex-common($layer, $width) {
  position: relative;
  z-index: $layer;
  width: $width;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  background: transparent;
}

::selection {
  color: colors.$select-color;
  background-color: colors.$select-bg-color;
}

html,
body {
  background: colors.$bg-color;
  position: relative;
  z-index: commons.$lowest-layer;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
body {
  padding: 0 20px 0;
  @media screen and (max-width: commons.$width-just-min) {
    overflow-x: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:active, &:hover, &:focus {
    outline: 0;
  }
}

.page-wrap {
  @include flex-common(commons.$layer-1, commons.$width-frame);
  margin: 0 auto;
  min-height: 600px;
  @media screen and (max-width: commons.$width-max-aside) {
    width: commons.$width-main;
  }
  @media screen and (max-width: commons.$width-just-min) {
    width: 100%;
  }
}

.main {
  @include flex-common(commons.$layer-2, commons.$width-main);
  flex-basis: commons.$width-main;
  @media screen and (max-width: commons.$width-just-min) {
    width: 100%;
    flex-basis: 100%;
  }
}

@keyframes rotate-icon {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}