@import 'colors';
@import 'commons';

@mixin flex-common($layer, $width) {
  position: relative;
  z-index: $layer;
  width: $width;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  background: transparent;
}

::selection {
  color: $select-color;
  background-color: $select-bg-color;
}

html,
body {
  background: $bg-color;
  position: relative;
  z-index: $lowest-layer;
  padding: 0;
  margin: 0;
  min-height: 900px;
  font-size: 14px;
}
body {
  padding: 0 20px 0;
  @media screen and (max-width: $width-just-min) {
    overflow-x: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:active, &:hover, &:focus {
    outline: 0;
  }
}

.page-wrap {
  @include flex-common($layer-1, $width-frame);
  margin: 0 auto;
  @media screen and (max-width: $width-max-aside) {
    width: $width-main;
  }
  @media screen and (max-width: $width-just-min) {
    width: 100%;
  }
}

.main {
  @include flex-common($layer-2, $width-main);
  flex-basis: $width-main;
  @media screen and (max-width: $width-just-min) {
    width: 100%;
    flex-basis: 100%;
  }
}