.container {
  padding: 24px 0;
  width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 884px;
  margin: 0 0 7px 100px;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.aside {
  width: 500px;
  height: 300px;
  margin: 40px 0 0 40px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
}
