.container {
  padding: 24px 0;
  width: 1024px;
  margin: 0 auto;
}

.title {
  margin: 0;
  width: 150px;
  font-size: 24px;
  font-family:'Bigruixian235b4e4b36226c7';
  color: #333;
  text-align: center;
}

.subtitle {
  padding-top: 4px;
  margin-top: 4px;
  width: 150px;
  font-size: 20px;
  font-family:'Bauhaus-Bold';
  color: #ddd;
  text-align: center;
  border-top: 1px solid #333;
}

.main {

}
