.container {
  padding: 24px 0;
  width: 1024px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.aside {
  position: relative;
  width: 600px;
  margin: 40px 0 0 40px;
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background: #fff;
  font-size: 14px;
  color: #7f8c8d;
}

.aside::after {
  content: "";
  position: absolute;
  left: 8px;
  bottom: 20px;
  width: 90%;
  height: 20%;
  z-index: -1;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  transform: rotate(-3deg);
  opacity: 0;
  transition: opacity 0.2s;
}

.aside:hover::after {
  opacity: 1;
}
