.container {
  display: block;
  border-left: 4px solid #ddd;
  padding: 0 10px;
  animation: init 1.2s;
}

.title {
  margin: 0;
  width: 220px;
  font: {
    size: 22px;
    weight: 300;
  }
  color: #e67e22;
  text-align: left;
  user-select: none;
  background: url('/assets/title-cat.webp') no-repeat {
    size: 100px;
    position: 160px 0;
  }
  transition: background-position .3s cubic-bezier(0.68,-0.6,0.32,1.6);
  animation: init-title 1.2s;
  .container:hover>& {
    background-position: 140px -20px;
  }
}

.titletail {
  margin: 0 0 0 2px;
  font: {
    size: 16px;
    weight: 300;
  }
  color:#bdc3c7;
  user-select: none;
}

.subtitle {
  padding-top: 4px;
  width: 220px;
  height: 25px;
  font: {
    style: italic;
    weight: 100;
    size: 14px;
  }
  color: #bdc3c7;
  text-align: right;
  border-top: 1px solid #2c3e50;
  user-select: none;
  animation: init-subtitle 1.2s;
}

@keyframes init {
  0% {
    border-color: #fff;
  }

  60% {
    border-color: #fff;
  }

  100% {
    border-color: #ddd;
  }
}

@keyframes init-title {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    background-position: 160px 100px;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    background-position: 160px 0;
  }
}

@keyframes init-subtitle {
  0% {
    opacity: 0;
    border-color: #fff;
    transform: translateX(-200px);
  }

  70% {
    border-color: #fff;
  }

  100% {
    opacity: 1;
    border-color: #2c3e50;
    transform: translateX(0);
  }
}