.container {
  display: block;
  border-left: 4px solid #ddd;
  padding: 0 10px;
}

.container:hover {
  animation: shake 1.2s;
}

.title {
  margin: 0;
  width: 220px;
  font-size: 22px;
  font-weight: 300;
  color: #e67e22;
  text-align: left;
  user-select: none;
}

.titletail {
  margin: 0 0 0 2px;
  font-size: 16px;
  font-weight: 300;
  color:#bdc3c7;
  user-select: none;
}

.subtitle {
  padding-top: 4px;
  width: 220px;
  height: 25px;
  font-style: italic;
  font-weight: 100;
  font-size: 14px;
  color: #bdc3c7;
  text-align: right;
  border-top: 1px solid #2c3e50;
  user-select: none;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 30% 150%;
  }
  5% {
    transform: rotate(.25deg);
  }
  10%,
  20%,
  30% {
    transform: rotate(-.5deg);
  }
  15%,
  25%,
  35% {
    transform: rotate(.5deg);
  }
  40% {
    transform: rotate(-.25deg);
  }
  45% {
    transform: rotate(.25deg);
  }
  50% {
    transform: rotate(0deg);
  }
}