.loadingBlock {
  margin: 150px auto;
}

.loadingSpan {
  display: flex;
  flex-direction: row;
  align-items: center
}

.loadingIcon {
  animation: show-icon .5s, rotate-icon infinite .6s steps(16);
}

@keyframes show-icon {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate-icon {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}