@use '../../styles/colors';
@use '../../styles/commons';

$logo-width: 220px;
$logo-width-short: auto;

.container {
  display: block;
  border-left: 4px solid colors.$normal-border-color;
  padding: 0 10px;
  @media screen and (min-width: commons.$width-max-aside) {
    animation: init 1.2s;
  }
  @media screen and (max-width: commons.$width-max-aside) {
    width: 100%;
    padding: 0 0 20px;
    text-align: center;
    border-left: none;
    border-bottom: 1px solid colors.$normal-border-color;
    animation: init-mobile 1.2s;
  }
}

.title {
  margin: 0;
  width: $logo-width;
  font: {
    size: 22px;
    weight: 300;
  }
  color: colors.$fg-color;
  text-align: left;
  user-select: none;
  @media screen and (min-width: commons.$width-max-aside) {
    animation: init-title 1.2s;
    background: url('/assets/title-cat.webp') no-repeat {
      size: 100px;
      position: 160px 0;
    }
    transition: background-position .3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    .container:hover>& {
      background-position: 140px -20px;
    }
  }
  @media screen and (max-width: commons.$width-max-aside) {
    display: none;
  }
}

.titletail {
  margin: 0 0 0 2px;
  font: {
    size: 16px;
    weight: 300;
  }
  color: colors.$fade-text-color;
  user-select: none;
}

.subtitle {
  padding-top: 4px;
  width: $logo-width;
  height: 25px;
  font: {
    style: italic;
    weight: 100;
    size: 14px;
  }
  color: colors.$fade-text-color;
  text-align: right;
  border-top: 1px solid colors.$normal-text-color;
  user-select: none;
  @media screen and (min-width: commons.$width-max-aside) {
    animation: init-subtitle 1.2s;
  }
  @media screen and (max-width: commons.$width-max-aside) {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    width: $logo-width-short;
    height: auto;
    margin: 0 auto;
    border-top: none;
    color: colors.$fg-color;
  }
}

@keyframes init {
  0% {
    border-color: colors.$bg-color;
  }

  60% {
    border-color: colors.$bg-color;
  }

  100% {
    border-color: colors.$normal-border-color;
  }
}

@keyframes init-title {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    background-position: 160px 100px;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    background-position: 160px 0;
  }
}

@keyframes init-subtitle {
  0% {
    opacity: 0;
    border-color: colors.$bg-color;
    transform: translateX(-200px);
  }

  70% {
    border-color: colors.$bg-color;
  }

  100% {
    opacity: 1;
    border-color: colors.$normal-text-color;
    transform: translateX(0);
  }
}

@keyframes init-mobile {
  0% {
    opacity: 0;
    border-color: colors.$bg-color;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    border-color: colors.$normal-border-color;
    transform: translateX(0);
  }
}