@use '../../styles/colors';
@use '../../styles/commons';

.menuBtn {
  @media screen and (min-width: commons.$width-max-aside) {
    display: none;
  }

  position: absolute;
  top: commons.$menu-top;
  right: commons.$menu-right;
  z-index: commons.$highest-layer;
  background-color: colors.$bg-color;
  padding: commons.$menu-padding;

  border: 1px solid colors.$normal-border-color {
    radius: 10px 2px 10px 2px;
  }

  transition: background-color .3s;

  &:hover {
    background-color: colors.$bg-hover-color;
  }

  .bar {
    display: block;
    width: commons.$bar-width;
    height: commons.$bar-height;
    border-radius: 1px;
    background-color: colors.$head-text-color;
    transition: transform .2s, opacity .2s;
    &+.bar {
      margin: commons.$bar-gap 0 0;
    }
  }

  &.open > .bar {
    &:nth-child(1) {
      transform: translateY(commons.$bar-height + commons.$bar-gap) rotateZ(135deg);
    }
  
    &:nth-child(2) {
      transform: rotateZ(360deg);
      opacity: 0;
    }
  
    &:nth-child(3) {
       transform: translateY(- commons.$bar-height - commons.$bar-gap) rotateZ(-135deg);
    }
  }
}