.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 884px;
  margin: 0 0 0 100px;
}