@use 'logo-block';
@use 'nav-block';
@use 'menu-button';
@use '../../styles/commons';
@use '../../styles/colors';

/* Note: This approach doesn't work well with Sass modules. Let me define a constant value or restructure */
/* $btn-height was: menu-padding * 2 + bar-height * 3 + bar-gap * 2 = 10px * 2 + 2px * 3 + 5px * 2 = 36px */
$btn-height: 36px;

@mixin flex-common {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  @include flex-common;
  justify-content: space-between;
  height: 80px;
  width: commons.$width-frame;
  margin: 0 auto 0;
  padding: 24px 0 0;
  @media screen and (max-width: commons.$width-max-aside) {
    width: commons.$width-main;
  }
  @media screen and (max-width: commons.$width-just-min) {
    width: 100%;
    height: commons.$menu-top + $btn-height + 13px;
    padding: commons.$menu-top 0 0;
  }
}

.nav > ul {
  @include flex-common;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
  @media screen and (min-width: commons.$width-max-aside) {
    li+li {
      margin: 0 0 0 5px;
    }
  }
  @media screen and (max-width: commons.$width-max-aside) {
    &.opened {
      display: block;
    }
    &.closed {
      display: none;
    }
    position: absolute;
    z-index: commons.$highest-layer;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 commons.$menu-right 0 0;
    margin-top: commons.$menu-top + $btn-height + 3px;
    animation: mobile-nav-in .5s;
    li {
      width: 100%;
    }
  }
}

@keyframes mobile-nav-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}