@import 'logo-block';
@import 'nav-block';

@mixin flex-common {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  @include flex-common;
  justify-content: space-between;
  height: 56px;
  width: 1024px;
  margin: 24px auto 0 auto;
}

.nav > ul {
  @include flex-common;
  justify-content: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li:not(:nth-child(1)) {
    margin: 0 0 0 5px;
  }
}