@mixin flex-common {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  @include flex-common;
  justify-content: space-between;
  height: 56px;
  width: 1024px;
  margin: 24px auto 0 auto;
}

.nav {
  @include flex-common;
  justify-content: right;
  width: 884px;
  margin: 0 0 0 100px;
}