@use '../../styles/commons';
@use '../../styles/colors';

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: commons.$footer-height;
  width: commons.$width-frame;
  margin: 0 auto 0;
  background-color: colors.$bg-color;
  border-top: 1px solid colors.$fade-border-color;
  text-align: center;
  @media screen and (max-width: commons.$width-max-aside) {
    width: commons.$width-main;
    height: commons.$footer-height-large;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (max-width: commons.$width-just-min) {
    width: 100%;
  }
}

.iconRow {
  margin-top: 10px;
}

.textLink {
  color: colors.$fg-color;
  border-bottom: 1px solid colors.$bg-color;
  transition: color .3s, border-color .3s;

  &:hover {
    color: colors.$fg-hover-color;
    border-color: colors.$fg-hover-color;
  }
}

.github, .mail {
  color: #1f23289d;
  transition: color .3s;
}

.iconLink {
  display: inline-block;
  &:hover .github, &:hover .mail {
    color: #1f2328ff;
  }
  &+.iconLink {
    margin-left: 10px;
  }
}