@use '../../styles/colors';

.gitalkWrap :global(.gt-btn) {
  &:not(:global(.gt-btn-preview)) {
    color: colors.$select-color;
    background-color: colors.$fg-color;
    border-color: colors.$fg-color;
    &:hover {
      background-color: colors.$fg-hover-color;
      border-color: colors.$fg-hover-color;
      }
  }
  &:global(.gt-btn-preview) {
    color: colors.$fg-color;
    background-color: colors.$bg-color;
    border-color: colors.$fg-color;
    &:hover {
      color: colors.$fg-hover-color;
      background-color: colors.$bg-color;
      border-color: colors.$fg-hover-color;
      }
  }
  transition: background-color .3s, border-color .3s, color .3s;
}

.gitalkWrap :global(.gt-container) {
  :global(a.gt-header-controls-tip) {
    color: colors.$fg-color;
  }
  :global(a.gt-comment-username) {
    color: colors.$fg-color;
  }
  :global(.gt-ico-tip .gt-svg) svg {
    fill: colors.$fg-color;
  }
  :global(.gt-comment-content .gt-svg) svg {
    fill: colors.$fg-color;
  }
  padding-bottom: 40px;
}