@import 'colors';

.gitalkWrap button {
  color: $select-color !important;
  background-color: $fg-color !important;
  border-color: $fg-color !important;
  transition: background-color .3s, border-color .3s;

  &:hover {
    background-color: $fg-hover-color !important;
    border-color: $fg-hover-color !important;
  }
}