@import 'commons';

.container {
  display: none;
  position: fixed;
  z-index: $highest-layer;
  bottom: 0;
  right: -20px;
  width: 200px;
  height: 200px;
  @media screen and (min-width: $width-max-widget) {
    display: block;
  }
  @media screen and (max-width: $width-max-aside) {
    display: block;
    width: 120px;
    height: 120px;
    background-size: 60px;
    position: absolute;
    top: $menu-top - 40px;
    left: -10px;
  }
}