@import 'commons';

.container {
  display: none;
  position: fixed;
  z-index: $highest-layer;
  bottom: 0;
  right: -56px;
  width: 256px;
  height: 256px;
  @media screen and (min-width: $width-max-widget) {
    display: block;
  }
  @media screen and (max-width: $width-max-aside) {
    display: block;
    width: 120px;
    height: 120px;
    background-size: 60px;
    position: absolute;
    top: $menu-top - 40px;
    left: -10px;
  }
}

.preload {
  display: block;
  height: 100px;
  width: 100px;
  position: absolute;
  left: -999999px;
  top: -999999px;
  background: url('/assets/hijiki/hijiki.2048/texture_00.png');
}