.postList {
  z-index: -99;
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
  width: 0;
  flex: 1;
}

.postItem {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #f0f0f0;
  animation: item-in 0.5s ease-in-out;
}
.postItem:nth-child(1) {
  padding: 0 2px 30px 0;
}

.postItem:not(:nth-child(1)) {
  padding: 30px 2px 30px 0;
}

.postImage {
  position: relative;
  z-index: 1;
  display: block;
  width: 150px;
  height: 100px;
  flex: 0 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 14px;
  overflow: hidden;
  text-align: center;
}

.postImage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  background: #e67e22;
  opacity: 0;
  transition: all .4s;
}

.postImage:hover::before {
  visibility: visible;
  opacity: .7;
}

.postImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  margin-top: 0;
  visibility: hidden;
  background-image: url('/assets/eye.svg');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .4s;
}

.postImage:hover::after {
  visibility: visible;
  opacity: 1;
}

.postImage>div {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.postImage:hover>div {
  transform: scale(1.15);
}

.postBlock {
  z-index: 1;
  margin: 0 0 0 20px;
}

.time {
  font-style: italic;
}

.title {
  margin: -7px 0 4px;
  color: #34495e;
  font-size: 18px;
  line-height: 1.5;
  border-bottom: 1px solid #fff;
  transition: all 0.2s;
}

.title:hover {
  color: #7f8c8d;
  border-color: #7f8c8d;
}

.des {
  margin: 0 0 5px;
  height: 48px;
  font-size: 13px;
  line-height: 24px;
  color: #bdc3c7;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.2s;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #bdc3c7;
}

@keyframes item-in {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  20% {
    opacity: 0;
    transform: translateX(-60px);
  }
  80% {
    opacity: 1;
    transform: translateX(3px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}