@import 'colors';
@import 'commons';

.postList {
  z-index: -99;
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
  flex: 1;
}

.postItem {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid $fade-border-color;
  animation: item-in 0.5s ease-in-out;
  padding: 30px 2px 30px 0;
  &:nth-child(1) {
    padding: 0 2px 30px 0;
  }
}

@mixin image-trans($layer) {
  content: '';
  position: absolute;
  z-index: $layer;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .4s;
}

.postImage {
  position: relative;
  z-index: 1;
  display: block;
  height: 100px;
  width: 150px;
  @media screen and (max-width: ($width-fix-min + 40px)) {
    width: 120px;
  }
  flex: 0 0 auto;
  background: {
    repeat: no-repeat;
    position: center;
    size: contain;
  }
  border-radius: 14px;
  overflow: hidden;
  text-align: center;
  &>div {
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    background: {
      repeat: no-repeat;
      position: center;
      size: cover;
    }
  }
  &::before {
    @include image-trans(2);
    border-radius: 8px;
    background: $fg-color;
  }
  &::after {
    @include image-trans(5);
    margin-top: 0;
    background: {
      image: url('/assets/eye.svg');
      repeat: no-repeat;
      size: 40px;
      position: center center;
    }
  }
  &:hover {
    &::before {
      visibility: visible;
      opacity: .7;
    }
    &::after {
      visibility: visible;
      opacity: 1;
    }
    &>div {
      transform: scale(1.15);
    }
  }
}

.postBlock {
  z-index: 1;
  margin: 0 0 0 20px;
}

.datetime {
  font-style: italic;
}

.title {
  margin: -7px 0 4px;
  color: $head-text-color;
  font-size: 18px;
  line-height: 1.5;
  border-bottom: 1px solid $bg-color;
  transition: all 0.2s;
  &:hover {
    color: $head-text-hover-color;
    border-color: $head-text-hover-color;
  }
}

.des {
  margin: 0 0 5px;
  height: 48px;
  font-size: 13px;
  line-height: 24px;
  color: $fade-text-color;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 0.2s;
  .postBlock:hover & {
    color: $fade-text-hover-color;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font: {
    size: 12px;
    weight: 400;
  }
  line-height: 20px;
  color: $fade-text-color;
}

@keyframes item-in {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  20% {
    opacity: 0;
    transform: translateX(-60px);
  }
  80% {
    opacity: 1;
    transform: translateX(3px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}