.article {
  margin-top: 40px;
  width: 100%;
  animation: init-post .4s;
}

.article img {
  max-width: 600px;
}

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  color: #34495e;
  text-rendering: optimizelegibility;
  margin: 0 0 16px;
  font-weight: 400;
}

.article h1 {
  font-size: 24px;
}

.article h2 {
  font-size: 20px;
}

.article h3, .article h4, .article h5, .article h6 {
  font-size: 18px;
}

.article p {
  color: #2c3e50;
  line-height: 1.8;
  font-weight: 300;
  font-size: 16px;
  margin: 0 0 20px;
  word-break: break-word;
}

.article p:has(> img) {
  text-align: center;
}

.article blockquote {
  border-inline-start: 8px solid #ECEFF4;
  margin-block: 0 20px;
  margin-inline: 0;
  padding-inline: 10px 0;
}

.article blockquote > p {
  color: #959ba7;
  margin: 0;
}

.article ul {
  padding-inline-start: 1em;
  color: #2c3e50;
  line-height: 1.8;
  font-weight: 300;
  font-size: 16px;
  word-break: break-word;
}

.article table {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  overflow: auto;
  word-break: initial;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  line-height: 1.6;
}

.article table tr:not(:has(> th)):hover {
  background-color: #ECEFF4
}

.article table th {
  font-weight: 600;
  background-color: #E5E9F0;
}

.article table th, .article table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.article pre {
  width: 100%;
  font-size: 12px;
  overflow-x: scroll;
  margin-bottom: 20px;
}

.article a {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  padding: 0 2px 1px;
  margin-bottom: 2px;
  transition: all .2s;
  border-bottom: 1px solid #2c3e50;
}

.article a:hover {
  color: #f39c12;
  border-color: #f39c12;
}

.title {
  position: relative;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #bdc3c7;
  margin: 0 0 32px;
}

.subtitle>span:not(:first-child) {
  margin: 0 0 0 15px;
}

@keyframes init-post {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}